body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swing{
    animation: swing 1.5s ease-in-out infinite alternate;
    transform-origin: top center;
    position: relative;
}

.swing img{
    width: 150px;
    border: 14px groove chocolate;
    box-shadow: 8px 8px 8px gray;
    display: block;
}

.swing::before{
    content: "";
    position: absolute;
    top: -4%;
    left: 78%;
    transform: translateX(-50px);
    width: 6px;
    height: 10px;
    background: grey;
}

.swing::after{
    content: "\2B24";
    position: absolute;
    top: -22px;
    left: 48%;
    transform: translateX(-50deg);
    height: 10px;
    border-radius: 50px;

}

@keyframes swing{
    0%{transform: rotate(3deg);}
    100%{transform: rotate(-3deg);}
}