.linear{
    height: 600px;
    background: linear-gradient(orange,white,blue,white,green);
}
h1{
    color: aliceblue;
    text-align: center;
}

.radial{
    height: 1200px;
    background: radial-gradient(circle at center,black,black,white);
}

.conic{
    height: 600px;
    background: conic-gradient(from 90deg,red,blue,yellow,green);

}

