.simple{
    border: 10px solid red;
}

.box_model1{
    border: 10px solid red;
    padding: 20px;
    margin: 50px;
}

.box_model2{
    border: 10px solid red;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 50px;

    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.box_model3{
    border: 10px solid red;
    padding: 10px 20px 30px 40px;
    margin: 10px 20px 30px 40px;
    
}


