.flex-item{
    width: 200px;
    height: 150px;
    margin: 10px;
    margin-top: 10px;
    background-color: chocolate;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container{
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */

    flex-wrap: wrap;


    list-style: none;

    justify-content: space-evenly;
}