.img-container{
    
     display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.images{
    height: 250px;
    width: 250px;
    margin: 10px;
    box-shadow: 10px 5px 50px ;
}


