.f_family1{
    font-family: monospace;
    line-height: 50px;
    font-weight: 900;
    font-size: large;
    font-style: italic;
    
}

.f_family2{
    font-family:Arial, Helvetica, sans-serif;
}

.f_family3{
    font-family: sans-serif;
}

.f_family4{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.f_all_prop{
    font: italic bold 900;
}