.container{
    position: absolute;
    margin: 10px;
}

div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    border: 3px solid white;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

.blue{
    background-color: blue;
    left: 40px;
    z-index: 1;
}

.red{
    background-color: red;
    left: 80px;
    z-index: 2;
}

.green{
    background-color: green;
    left: 120px;
    z-index: 3;
}


.red:hover{
    background-color: aqua;
    z-index: 40;
    height: 500px;
    width: 500px;
}